@use '../common/colors' as *;
@use '../common/mixins' as *;

.auth {
    padding: 1rem 2rem;
    .member_button {
        cursor: pointer;
        font-weight: bold;
        &:hover {
            border-bottom: solid 3px #999;
        }
    }
    .input_error {
        @include animation(fade_in, 1s);
        color: red;
        margin-top: -1rem;
        margin-bottom: -.5rem;
    }
    .loader {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        font-size: 14px;
    }

    @include flex($direction: column, $align: flex-start);
    .signup, .login {
        @include flex($direction: column, $align: flex-start);
        @include animation(fade_in, 500ms);
        h2 {
            position: relative;
            padding: 5px;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 100%;
                height: 3px;
                width: 100%;
                background-color: $light_green;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                @include animation(race, 800ms, 100ms);
            }
        }
        input {
            &::placeholder {
                color: $darkest;
            }
            // &:hover {
            //     transform: scale(.96);
            //     box-shadow: 4px 4px 0px $dark;
            // }
            transition: 300ms;
            border: none;
            border-bottom: solid 1px $dark;
            color: $darkest;
            background-color: $light;
            font-size: 16px;
            padding: .5rem;
            outline: none;
            width: 400px;
        }
        button {
            padding: .5rem;
            background: $dark;
            color: $light;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            box-shadow: -4px 4px 0px black;
            cursor: pointer;
            transition: 300ms;
            border-radius: 5px;
            &:hover {
                color: $darkest;
                transform: scale(.97);
                background-color: $light_green;
            }
        }
    }
    @media screen and (max-width: 600px) {
        input {
            max-width: 350px;
        }
        h2 {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 450px) {
        input {
            max-width: 230px;
        }
    }
}