@use '../common/colors' as *;
@use '../common/mixins' as *;
.board_section {
    // background-image: url('../images/stacked-peaks-haikei.svg');
    // background-size: cover;
    @include flex();
    & > div {
        min-width: 0; //! using min-width or overflow will allow the child div to resize
        // overflow: hidden; //! this might cause problems in the div styleing
    }
    .board_caption_and_filters {
        @include flex($direction: row, $justify: space-between, $gap: 1rem);
        padding-bottom: 1rem;
        .search_input {
            font-size: 17px;
            padding: .4rem;
            border: solid 1px grey;
            border-radius: 3px;
        }
        h3 {
            text-transform: capitalize;
            color: $light;
        }
    }
    .loader {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }
    .error {
        @include radius_shadow();
        max-width: 300px;
        padding: .7rem 0;
        font-size: 20px;
        background-color: $darkest;
    }
    .board_wrapper {
        width: 66%;
    }
}

.main_board {
    @include responsive_padding($inline:1rem, $block:1rem);
    @include animation(fade_in_up, 1s);
    max-width: 990px;
    background: $light;
    border: solid 1px grey;
    border-radius: 3px;
    position: relative;
    .main_board_content {
        @include flex($wrap: nowrap, $align:flex-start,$justify:flex-start, $gap: 1rem);
        // @include scroll_bar();
        // overflow-x: auto;
        // padding-bottom: 1rem;
        // ! LEFT COLUMN
        .left_column {
            position: sticky;
            left: 0%;
            z-index: 1;
            border-radius: 5px;
            // ! FOOD & NUTRIENT LABEL
            .food_nutrients_label {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                position: sticky;
                top: 0%;
                z-index: 2;
                min-width: 150px;
                color: $light;
                background-color: $darker;
                min-height: 4rem; //xxxxxxxxxx
            }
            // ! NUTRIENTS NAMES
            .nutrients_names_bar {
                @include flex($align:center, $justify:center, $wrap: wrap);
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                color: white;
                background-color: $light_green;
                text-transform: uppercase;
                padding-block: 1rem;
                align-self: flex-end;
                max-width: 150px;
                .slot {
                    position: relative;
                    .nutrient_info {
                        @include radius_shadow();
                        background-color: $light;
                        color: $dark;
                        text-align: left;
                        position: absolute;
                        z-index: 100;
                        bottom: 0;
                        left: 100%;
                        width: 300px;
                        padding: 1rem;
                        display: none;
                    }
                    .popup {
                        display: block;
                    }
                }
            }
        }

        // ! RIGHT COLUMN
        .right_column{
        overflow-x: auto;
        @include scroll_bar();
        padding-bottom: 1rem;
        max-width: 990px;
            @include flex($align:flex-start, $justify:flex-start, $wrap: wrap, $gap: 1rem, $direction:column);
            // ! FOOD NAMES
            .food_names_bar {
                @include flex($align:center, $justify:center, $wrap: nowrap);
                border-radius: 5px;
                position: sticky;
                top: 0%;
                background-color: $light_green;
                color: white;
                text-transform: uppercase;
                min-height: 4rem;
            }
            // ! NUTRIENTS COLUMNS
            .facts_columns_wrapper {
                @include flex($align:center, $justify:center, $wrap: nowrap);
            }
            .facts_column:nth-child(even) {
                .slot {
                    background: none;
                    outline: solid 1px white;
                    
                }
            }
            .facts_column {
                @include flex($align:center, $justify:center, $wrap: nowrap, $direction: column);
                .slot {
                    font-weight: 500;
                    border-radius: 5px;
                    background-color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .board_section {
        .board_wrapper {
            width: 90%;
        }
    }
}

@media screen and (max-width: 800px) {
    .board_section {
        .board_caption_and_filters {
            gap: 1rem;
            .search_input {
                font-size: 14px;
            }
            h3 {
                font-size: 18px;
            }
        }
    }
    .main_board {
        .main_board_content {
            .left_column {
                .nutrients_names_bar {
                    gap: 1rem;
                }
            }
            .right_column {
                .food_names_bar {
                    gap: 1rem;
                }
                .facts_columns_wrapper {
                    gap: 1rem;
                    .facts_column {
                        gap: 1rem;
                    }
                }        
            }
            .slot {
                font-size: 14px;
                max-width: 6rem;
                min-width: 6rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .board_section {
        .board_wrapper {
            width: auto;
        }
        .board_caption_and_filters {
            .search_input {
                font-size: 12px;
            }
            h3 {
                font-size: 16px;
            }
        }
    }
    .main_board {
        .main_board_content {
            .left_column {
                .food_nutrients_label {
                    min-width: 100px;
                }
                .nutrients_names_bar {
                    gap: .8rem;
                    max-width: 100px;
                }
            }
            .right_column {
                .food_names_bar {
                    gap: .8rem;
                }
                .facts_columns_wrapper {
                    gap: .8rem;
                    .facts_column {
                        gap: .8rem;
                    }
                }        
            }
            .slot {
                font-size: 12px;
                max-width: 4rem;
                min-width: 4rem;
            }
        }
    }
}