@use "../common/colors" as *;
@use '../common/mixins' as *;
.header {
    @include flex($direction: column, $gap: 0rem);
    @include responsive_padding();
    background-color: $light_green;
    color: $darker;
    .navigation {
        @include flex($direction: column, $align: flex-end);
        width: 80%;
        .registration {
            font-size: 30px;
            .user_icon:hover {
                cursor: pointer;
                color: $dark;
                border-bottom: solid 1px $dark;
            }
        }
    }
    .intro {
        @include flex($direction: column);
        h1 {
            font-size: clamp(1.5rem, 2.5vw, 2rem);    }
    
        ul {
            @include flex($justify:flex-start);
        }
    
        p {
            font-size: 24px;
            max-width: 700px;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        .intro {
            ul {
                font-size: 14px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        .intro {
            p {
                text-align: left;
            }
        }
    }
}
