@use "../common/colors" as *;
@use '../common/mixins' as *;
.header_section {
    @include flex($direction: row, $align: flex-start);
    color: $darker;
    // background-image: url('../images/stacked-peaks-haikei.svg');
    // background-image: url('../images/AdobeStock_27846023.jpeg');
    background-size: cover;
    .navigation {
        @include flex($direction: column, $align: flex-end);
        width: 80%;
        .registration {
            font-size: 30px;
            .user_icon:hover {
                cursor: pointer;
                color: $dark;
                border-bottom: solid 1px $dark;
            }
        }
        .slot {
            background-color: $light;
            box-shadow: 0 0 5px grey;
            cursor: pointer;
        }
    }
    .intro {
        @include flex($direction: column);
        padding: 1rem;
        border-radius: 5px;
        background-image: url('../images/blurry-gradient-haikei.svg');
        background-size: cover;
        // box-shadow: 0px 0px 5px grey;
        // backdrop-filter: blur(5px);
        h1 {
            font-size: clamp(1.5rem, 2.5vw, 2rem);    }
    
        ul {
            @include flex($justify:flex-start);
        }
    
        p {
            font-size: 24px;
            max-width: 700px;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 800px) {
    .header_section {
        .intro {
            ul {
                font-size: 14px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header_section {
        .intro {
            p {
                text-align: left;
            }
        }
    }
}
