@use 'mixins' as *;
@use 'colors' as *;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
    background-color: #d9d9d9;
}

section {
    @include responsive_padding();
}

ul {
    list-style-type: none;
}

.label {
    @include radius_shadow();
    background-color: $darker;
    color: white;
    padding: .2rem .5rem;
}

.special_font {
    font-family: 'Kaushan Script', cursive;
}
