@use 'mixins' as *;
@use 'colors' as *;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
}

section {
    @include responsive_padding();
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

.label {
    @include radius_shadow();
    background-color: $darker;
    color: white;
    padding: .2rem .5rem;
}

.special_font {
    font-family: 'Kaushan Script', cursive;
}

.slot {
    font-weight: 600;
    text-align: center;
    max-width: 8rem;
    min-width: 8rem;
    padding: .5rem 0;
}

.line {
    max-width: 20rem;
    height: .1rem;
    background-color: $dark;
    margin: 1rem auto;
    box-shadow: 10px 5px 0 $light-green, 5px -5px 0 $light;
}

@keyframes race {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        height: 4px;
    }
    100% {
        width: 100%;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_in_up {
    0% {
        opacity: 0;
        margin-top: 2rem;
    }
    50% {
        margin-top: -1rem;
    }
    100% {
        opacity: 1;
        margin-top: 0rem;
    }
}


@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}