@use "colors" as *;

@mixin flex($wrap: wrap, $direction: row, $align: center, $justify: center, $gap: 1.5rem) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin radius_shadow($radius:5px, $shadow: 0 0 5px black) {
    border-radius: $radius;
    box-shadow: $shadow;
}

@mixin responsive_padding($inline:3rem, $block:2rem){
    padding-inline: $inline;
    padding-block: $block;
}

@mixin scroll_bar {
    &::-webkit-scrollbar {
        border-radius: 5px;
        width: .8rem;
        height: .8rem;
        background-color: transparent;
        top: 0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $dark;
        &:hover {
            cursor: pointer;
            background-color: #444;
        }
    }
}