@use "colors" as *;

@mixin flex($wrap: wrap, $direction: row, $align: center, $justify: center, $gap: 1.5rem) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin radius_shadow($radius:5px, $shadow: 0 0 5px black) {
    border-radius: $radius;
    box-shadow: $shadow;
}

@mixin responsive_padding($inline:3rem, $block:3rem){
    padding-inline: $inline;
    padding-block: $block;
}

@mixin scroll_bar {
    &::-webkit-scrollbar {
        border-radius: 5px;
        width: .8rem;
        height: .6rem;
        background-color: transparent;
        top: 0;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $darker;
        &:hover {
            cursor: pointer;
            background-color: #444;
        }
    }
}

@mixin animation($name, $duration, $delay: 0, $behaviour: default, $count: default, $direction: default){
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-timing-function: $behaviour;
    animation-iteration-count: $count;
    animation-direction: $direction;
}