@use "colors" as *;
@use 'mixins' as *;
.home_header {
    @include flex($direction: column,);
    @include responsive_padding();
    min-height: 60vh;
    background-color: $light_green;
    h1 {
        font-size: 36px;
    }

    ul {
        @include flex();
        padding: 1rem 0;
    }

    p {
        font-size: 24px;
        max-width: 700px;
        text-align: justify;
    }
}
