* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Hind Vadodara", sans-serif;
  background-image: url("../images/stacked-peaks-haikei.svg");
  background-size: cover;
}

section {
  padding-inline: 3rem;
  padding-block: 3rem;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

.label {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  background-color: #222;
  color: white;
  padding: 0.2rem 0.5rem;
}

.special_font {
  font-family: "Kaushan Script", cursive;
}

.slot {
  font-weight: 600;
  text-align: center;
  max-width: 8rem;
  min-width: 8rem;
  padding: 0.5rem 0;
}

.line {
  max-width: 20rem;
  height: 0.1rem;
  background-color: #333;
  margin: 1rem auto;
  -webkit-box-shadow: 10px 5px 0 #4E9F3D, 5px -5px 0 #d9d9d9;
          box-shadow: 10px 5px 0 #4E9F3D, 5px -5px 0 #d9d9d9;
}

@-webkit-keyframes race {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    height: 4px;
  }
  100% {
    width: 100%;
  }
}

@keyframes race {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    height: 4px;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade_in_up {
  0% {
    opacity: 0;
    margin-top: 2rem;
  }
  50% {
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}
@keyframes fade_in_up {
  0% {
    opacity: 0;
    margin-top: 2rem;
  }
  50% {
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}
.header_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  color: #222;
  background-size: cover;
}
.header_section .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  width: 80%;
}
.header_section .navigation .registration {
  font-size: 30px;
}
.header_section .navigation .registration .user_icon:hover {
  cursor: pointer;
  color: #333;
  border-bottom: solid 1px #333;
}
.header_section .navigation .slot {
  background-color: #d9d9d9;
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
  cursor: pointer;
}
.header_section .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  background-image: url("../images/blurry-gradient-haikei.svg");
  background-size: cover;
}
.header_section .intro h1 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}
.header_section .intro ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5rem;
}
.header_section .intro p {
  font-size: 24px;
  max-width: 700px;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .header_section .intro ul {
    font-size: 14px;
  }
  .header_section .intro p {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .header_section .intro p {
    text-align: left;
  }
}
.board_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}
.board_section > div {
  min-width: 0;
}
.board_section .board_caption_and_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
}
.board_section .board_caption_and_filters .search_input {
  font-size: 17px;
  padding: 0.4rem;
  border: solid 1px grey;
  border-radius: 3px;
}
.board_section .board_caption_and_filters h3 {
  text-transform: capitalize;
  color: #d9d9d9;
}
.board_section .loader {
  width: 80px;
  height: 80px;
  font-size: 20px;
}
.board_section .error {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  max-width: 300px;
  padding: 0.7rem 0;
  font-size: 20px;
  background-color: #191A19;
}
.board_section .board_wrapper {
  width: 66%;
}

.main_board {
  padding-inline: 1rem;
  padding-block: 1rem;
  -webkit-animation-name: fade_in_up;
          animation-name: fade_in_up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: default;
          animation-timing-function: default;
  -webkit-animation-iteration-count: default;
          animation-iteration-count: default;
  -webkit-animation-direction: default;
          animation-direction: default;
  max-width: 990px;
  background: #d9d9d9;
  border: solid 1px grey;
  border-radius: 3px;
  position: relative;
}
.main_board .main_board_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}
.main_board .main_board_content .left_column {
  position: sticky;
  left: 0%;
  z-index: 1;
  border-radius: 5px;
}
.main_board .main_board_content .left_column .food_nutrients_label {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: sticky;
  top: 0%;
  z-index: 2;
  min-width: 150px;
  color: #d9d9d9;
  background-color: #222;
  min-height: 4rem;
}
.main_board .main_board_content .left_column .nutrients_names_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #4E9F3D;
  text-transform: uppercase;
  padding-block: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 150px;
}
.main_board .main_board_content .left_column .nutrients_names_bar .slot {
  position: relative;
}
.main_board .main_board_content .left_column .nutrients_names_bar .slot .nutrient_info {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  background-color: #d9d9d9;
  color: #333;
  text-align: left;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 100%;
  width: 300px;
  padding: 1rem;
  display: none;
}
.main_board .main_board_content .left_column .nutrients_names_bar .slot .popup {
  display: block;
}
.main_board .main_board_content .right_column {
  overflow-x: auto;
  padding-bottom: 1rem;
  max-width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}
.main_board .main_board_content .right_column::-webkit-scrollbar {
  border-radius: 5px;
  width: 0.8rem;
  height: 0.6rem;
  background-color: transparent;
  top: 0;
}
.main_board .main_board_content .right_column::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #222;
}
.main_board .main_board_content .right_column::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #444;
}
.main_board .main_board_content .right_column .food_names_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  border-radius: 5px;
  position: sticky;
  top: 0%;
  background-color: #4E9F3D;
  color: white;
  text-transform: uppercase;
  min-height: 4rem;
}
.main_board .main_board_content .right_column .facts_columns_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}
.main_board .main_board_content .right_column .facts_column:nth-child(even) .slot {
  background: none;
  outline: solid 1px white;
}
.main_board .main_board_content .right_column .facts_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}
.main_board .main_board_content .right_column .facts_column .slot {
  font-weight: 500;
  border-radius: 5px;
  background-color: white;
}

@media screen and (max-width: 1100px) {
  .board_section .board_wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .board_section .board_caption_and_filters {
    gap: 1rem;
  }
  .board_section .board_caption_and_filters .search_input {
    font-size: 14px;
  }
  .board_section .board_caption_and_filters h3 {
    font-size: 18px;
  }
  .main_board .main_board_content .left_column .nutrients_names_bar {
    gap: 1rem;
  }
  .main_board .main_board_content .right_column .food_names_bar {
    gap: 1rem;
  }
  .main_board .main_board_content .right_column .facts_columns_wrapper {
    gap: 1rem;
  }
  .main_board .main_board_content .right_column .facts_columns_wrapper .facts_column {
    gap: 1rem;
  }
  .main_board .main_board_content .slot {
    font-size: 14px;
    max-width: 6rem;
    min-width: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .board_section .board_wrapper {
    width: auto;
  }
  .board_section .board_caption_and_filters .search_input {
    font-size: 12px;
  }
  .board_section .board_caption_and_filters h3 {
    font-size: 16px;
  }
  .main_board .main_board_content .left_column .food_nutrients_label {
    min-width: 100px;
  }
  .main_board .main_board_content .left_column .nutrients_names_bar {
    gap: 0.8rem;
    max-width: 100px;
  }
  .main_board .main_board_content .right_column .food_names_bar {
    gap: 0.8rem;
  }
  .main_board .main_board_content .right_column .facts_columns_wrapper {
    gap: 0.8rem;
  }
  .main_board .main_board_content .right_column .facts_columns_wrapper .facts_column {
    gap: 0.8rem;
  }
  .main_board .main_board_content .slot {
    font-size: 12px;
    max-width: 4rem;
    min-width: 4rem;
  }
}
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  font-weight: 600;
  position: relative;
}
.loader:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: #4E9F3D solid 5px;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: default;
          animation-direction: default;
}

.error {
  text-align: center;
  color: red;
}

.modal .overlay {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  cursor: -webkit-grab;
  cursor: grab;
}
.modal .modal_content {
  -webkit-animation-name: fade_in_up;
          animation-name: fade_in_up;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: default;
          animation-timing-function: default;
  -webkit-animation-iteration-count: default;
          animation-iteration-count: default;
  -webkit-animation-direction: default;
          animation-direction: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #d9d9d9;
}
.modal .modal_content > :nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.5rem;
}
.modal .modal_content > :nth-child(1) svg {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: -2px 2px 0px black;
          box-shadow: -2px 2px 0px black;
  cursor: pointer;
  font-size: 26px;
}
.modal .modal_content > :nth-child(1) svg:hover {
  color: #999;
  -webkit-box-shadow: -2px 2px 0px #999;
          box-shadow: -2px 2px 0px #999;
}

.auth {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}
.auth .member_button {
  cursor: pointer;
  font-weight: bold;
}
.auth .member_button:hover {
  border-bottom: solid 3px #999;
}
.auth .input_error {
  -webkit-animation-name: fade_in;
          animation-name: fade_in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: default;
          animation-timing-function: default;
  -webkit-animation-iteration-count: default;
          animation-iteration-count: default;
  -webkit-animation-direction: default;
          animation-direction: default;
  color: red;
  margin-top: -1rem;
  margin-bottom: -0.5rem;
}
.auth .loader {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  font-size: 14px;
}
.auth .signup, .auth .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  -webkit-animation-name: fade_in;
          animation-name: fade_in;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: default;
          animation-timing-function: default;
  -webkit-animation-iteration-count: default;
          animation-iteration-count: default;
  -webkit-animation-direction: default;
          animation-direction: default;
}
.auth .signup h2, .auth .login h2 {
  position: relative;
  padding: 5px;
}
.auth .signup h2:after, .auth .login h2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: #4E9F3D;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-animation-name: race;
          animation-name: race;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-timing-function: default;
          animation-timing-function: default;
  -webkit-animation-iteration-count: default;
          animation-iteration-count: default;
  -webkit-animation-direction: default;
          animation-direction: default;
}
.auth .signup input, .auth .login input {
  -webkit-transition: 300ms;
  transition: 300ms;
  border: none;
  border-bottom: solid 1px #333;
  color: #191A19;
  background-color: #d9d9d9;
  font-size: 16px;
  padding: 0.5rem;
  outline: none;
  width: 400px;
}
.auth .signup input::-webkit-input-placeholder, .auth .login input::-webkit-input-placeholder {
  color: #191A19;
}
.auth .signup input::-moz-placeholder, .auth .login input::-moz-placeholder {
  color: #191A19;
}
.auth .signup input:-ms-input-placeholder, .auth .login input:-ms-input-placeholder {
  color: #191A19;
}
.auth .signup input::-ms-input-placeholder, .auth .login input::-ms-input-placeholder {
  color: #191A19;
}
.auth .signup input::placeholder, .auth .login input::placeholder {
  color: #191A19;
}
.auth .signup button, .auth .login button {
  padding: 0.5rem;
  background: #333;
  color: #d9d9d9;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: -4px 4px 0px black;
          box-shadow: -4px 4px 0px black;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 5px;
}
.auth .signup button:hover, .auth .login button:hover {
  color: #191A19;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  background-color: #4E9F3D;
}
@media screen and (max-width: 600px) {
  .auth input {
    max-width: 350px;
  }
  .auth h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .auth input {
    max-width: 230px;
  }
}